
<suite name="Suite1">
  <test name="exampletest1">
     <classes>
  
       <class name="com.SocialIQ.EmailIdAlreadyExist" />

       <class name="com.SocialIQ.EmailIdInvalid" />     
       
       <class name="com.SocialIQ.EmailIdExist" /> 
       
       <class name="com.SocialIQ.EmailIdNull" />
       	
       	<class name="com.SocialIQ.OfferCodeExist" />
       	
     	<class name="com.SocialIQ.OfferCodeExpired" />
       	
     	<class name="com.SocialIQ.OfferCodeNtValid" />
    
      	<class name="com.SocialIQ.SubDomainEmpty" /> 
       	
       	<class name="com.SocialIQ.SubDomainInvalid" />
       	
       	<class name="com.SocialIQ.SubDomainExist" />
       	
       	<class name="com.SocialIQ.TimeZoneMan" />
       	
       	<class name="com.SocialIQ.TrialPage" />
    </classes>
  </test>
</suite>  