
<suite name="Suite1">
  <test name="exampletest1">
     <classes>
   

       	
       	<class name="com.SocialIQSignUp.TrialPage" />


	<class name="com.SocialIQLogin.LoginWillTakPlaceSuccessfully" />

       	
       	<class name="com.SocialIQForgetPassword.YourPasswordResetEmailWasSent" />
    

       	<class name="com.SocialIQAddUser.Admin_UserHasBeenCreatedSuccessfully" />
  
       	
       	<class name="com.SocialIQCreateCategory.CategoryHasBeenCreatedSuccessfully" />
 
</classes>
  </test>
</suite>  